.nav-item{
	margin-right: 60px;
}
body{
	background-color: #f5f5f5 !important;
}
@media screen and (max-width: 950px) {
	.nav-item{
		margin-right: 0px;
	}
}
.user-icon{
	border: 1px solid black;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
}
#data_chooser{
	border: 1px solid #000000;
	display: block;
	border-radius: 10px;
}
.table{
	background-color: white;
	margin-top: 20px;
	margin-bottom: 0;
	height: 85vh;
}
th,td{
	border: 1px solid grey;
}
.table__time{
	width: 4%;
}
.table__cell{
	width: 16%;
}
.table__header{
	text-align: center;
}
footer{
	height: 10vh;
}
